*.rhs
*.mat
*.asv
source/qt/IntanStimRecordController.pro.user
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/waveplot.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/voltagespinbox.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/usbdatathread.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/triggerrecorddialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/timespinbox.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/stimparameters.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/stimparamdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/stimfigure.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/startupdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/spikescopedialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/spikeplot.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/signalsources.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/signalprocessor.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/signalgroup.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/signalchannel.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/setsaveformatdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/rhs2000registers.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/rhs2000evalboard.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/rhs2000datablock.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/renamechanneldialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/randomnumber.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/qrc_IntanStimRecordController.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/qrc_IntanStimRecordController.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/okFrontPanelDLL.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_waveplot.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_waveplot.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_voltagespinbox.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_voltagespinbox.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_usbdatathread.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_usbdatathread.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_triggerrecorddialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_triggerrecorddialog.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_timespinbox.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_timespinbox.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_stimparamdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_stimparamdialog.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_stimfigure.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_stimfigure.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_startupdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_startupdialog.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_spikescopedialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_spikescopedialog.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_spikeplot.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_spikeplot.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_setsaveformatdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_setsaveformatdialog.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_renamechanneldialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_renamechanneldialog.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_predefs.h
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_mainwindow.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_mainwindow.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_keyboardshortcutdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_keyboardshortcutdialog.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_impedancefreqdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_impedancefreqdialog.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialogreference.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialogreference.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialognotchfilter.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialognotchfilter.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialogioexpander.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialogioexpander.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialoghighpassfilter.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialoghighpassfilter.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialogfastsettle.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialogfastsettle.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialogdacs.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialogdacs.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialogcomparators.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialogcomparators.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialogchipfilters.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_helpdialogchipfilters.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_digoutdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_digoutdialog.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_digfigure.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_digfigure.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_currentspinbox.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_currentspinbox.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_chargerecoverydialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_chargerecoverydialog.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_cabledelaydialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_cabledelaydialog.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_bandwidthdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_bandwidthdialog.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_anoutfigure.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_anoutfigure.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_anoutdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_anoutdialog.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_ampsettledialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_ampsettledialog.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_abstractfigure.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/moc_abstractfigure.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/mainwindow.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/main.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/keyboardshortcutdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/intanstimrecordcontroller_plugin_import.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/IntanStimRecordController.exe
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/impedancefreqdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/helpdialogreference.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/helpdialognotchfilter.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/helpdialogioexpander.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/helpdialoghighpassfilter.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/helpdialogfastsettle.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/helpdialogdacs.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/helpdialogcomparators.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/helpdialogchipfilters.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/digoutdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/digfigure.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/datastreamfifo.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/currentspinbox.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/chargerecoverydialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/cabledelaydialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/bandwidthdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/anoutfigure.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/anoutdialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/ampsettledialog.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/release/abstractfigure.o
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/object_script.IntanStimRecordController.Release
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/object_script.IntanStimRecordController.Debug
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/Makefile.Release
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/Makefile.Debug
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/Makefile
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/intanstimrecordcontroller_plugin_import.cpp
source/build-IntanStimRecordController-Qt_5_9_1_Static-Release/.qmake.stash
